node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.env.development
.env.production
*.log
coverage/
.vscode/
.idea/
venv/
env/
.husky/
**/node_modules/
**/venv/
**/env/
package-lock.json
yarn.lock
*.h5
*.pth
*.pt
*.ckpt
*.npz
*.csv
data/
models/